<nav>
    <span class="js">JS_RIDERS</span>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/about">Contact</a>
    <button class="signup"><a href="/signup">Sign up</a></button>
  </nav>